// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Quicksand:wght@700&family=Redacted+Script:wght@700&display=swap');

// Font Variables
$quicksand: 'Quicksand', sans-serif;
$opensans: 'Open Sans', sans-serif;
$redacted_script: 'Redacted Script', sans-serif;

// Cards
$card-border-radius: 1.2rem